main {
  height: 100%;
}

.vis-title {
  text-align: center;
  background: #0f1228;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  color: #9b9d9e;
}

.container-jpo {
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  background: #12161e;
  margin: 30px auto;
}

.information-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
}

.jpo-vis-img {
  max-width: 250px;
  width: 90%;
  max-height: 224px;
  height: 90%;
  margin: 20px auto;
  object-fit: contain;
}

input {
  width: calc(
    100% - 20px
  ); 
  background: #1e2431;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold; 
  padding: 2px 10px;
  box-sizing: border-box; 
}

label,
.titre-des {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 5px; 
}

.m12 {
  display: flex;
  height: 350px;
}

.m10 {
  margin: 17px 0;
}

h2 {
  text-align: center;
  margin: 20px 0;
  font-size: 30px;
  max-width: 360px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.cas-d {
  width: 100%; 
}
.d-cas {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 5px;
  background: #1e2431;
  font-size: 17px;
  padding: 10px;
  margin: 5px 0;
}
@media only screen and (max-width: 768px) {
  input {
    font-size: 12px;
  }
}
.follow {
    background:#d9d9d9;
    color: black;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 17px;
}
.button-follow {
  max-width: 800px;
  width: 90%;
  margin:90px auto;
  display: flex;
  justify-content: center;
}