* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  overflow: auto;
  background: var(--background-body);
}
main {
  height: 100%;
}
/*.wrapper {
  /* max-width: 1440px; */
/* display: flex; */
/* margin: auto; */
/* position: fixed; */
/* min-height:140vh; */
/* width: 100%; }*/

.navbar {
  background-image: url(./images/rearBack.png);
  padding: 12px;
  position: relative;
}
.navbar .list {
  display: flex;
  flex-wrap: wrap;
}
.list li {
  margin: 0 5px;
}
.list li a {
  font-size: 20px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  display: block;
  padding: 20px 20px;
}
li.active {
  background: #0b0744ab;
  border-radius: 20px;
}
.list li:hover a {
  border-radius: 20px;
  background: #0b0744c7;
}
.back-img {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  color: #fff;
  background: #00000060;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.logo {
  width: 15rem;
  height: 5rem;
  position: absolute;
  top: 54%;
  transform: translate(0, -50%);
  right: 80px;
  max-height: 64px;
  object-fit: contain;
}
.profil {
  width: 50px;
  padding: 4px;
  position: absolute;
  height: 50px;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
}

.profil:hover {
  background: #0b0744ab;
}
.img-text {
  position: relative;
  max-width: 1024px;
  width: 100%;
  height: 582px;
  margin: 70px auto;
}
img {
  width: 100%;
  height: 100%;
}
.text {
  display: flex;
  flex-direction: column;
}
.presentation {
  max-width: 600px;
  width: 100%;
  margin: 70px auto 20px; /* Modification */
  background: var(--case-color);
  color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 15px 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.titre {
  background: #222288;
  text-align: center;
  margin: 7px auto;
  width: 200px;
  border-radius: 10px;
}
.event,
.annuaire {
  max-width: 1024px; /* Utilisation d'une largeur maximale */
  width: 100%; /* Utilisation de la largeur maximale */
  margin: 50px auto;
}
.titre2 {
  background: #222288;
  border-radius: 10px;
  width: 100%;
  margin: 10px;
  max-width: 250px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  color: #fff;
}
.titre3 {
  background: #222288;
  border-radius: 10px;
  width: 100%;
  margin: 10px;
  max-width: 110px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  color: #fff;
}
.img-event {
  max-width: 300px; /* Largeur maximale de l'image */
  width: 70%; /* Image occupe toute la largeur */
  margin: auto;
}
/* .imgCase {
  width: 100%;
  max-width: 300px;
} */
.case {
  max-width: 320px; /* Largeur maximale de la case */
  width: 100%; /* Utilisation de la largeur maximale */
  color: #fff;
  text-align: center;
  background: var(--case-color);
  border-radius: 10px;
  padding: 10px 0;
  height: 466px;
}
.eventsCase {
  display: flex;
  flex-wrap: wrap; /* Permet le passage à la ligne des cases */
  justify-content: center; /* Centre les cases horizontalement */
  height: 100%;
  gap: 30px;
  margin: 35px 0;
  font-family: Arial, Helvetica, sans-serif;
}
.textCase {
  max-width: 200px;
  width: 100%;
  margin: 10px auto;
}
.case-annuaire {
  display: flex;
  flex-wrap: wrap; /* Permet le passage à la ligne des cases */
  justify-content: center; /* Centre les cases horizontalement */
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  gap: 19px;
  margin: 35px 0;
}
.annCase {
  max-width: 210px;
  width: 100%;
  background: var(--case-color);
  color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  height: 100%;
}

.img-Annuaire {
  max-width: 150px;
  width: 100%;
  margin: auto;
}
.name {
  font-weight: bolder;
  color: #348bc2;
}
.titre-dpi {
  background: #222288;
  border-radius: 10px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  color: #fff;
  width: 100%;
  max-width: 300px;
}
.dpi-case {
  background: var(--case-color);
  border-radius: 10px;
  padding: 20px;
  max-width: 1024px; /* Utilisation d'une largeur maximale */
  width: 90%; /* Utilisation de la largeur maximale */
  margin: 50px auto;
  font-family: Arial, Helvetica, sans-serif;
}
.dpi-flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.texte-dpi {
  max-width: 500px;
  width: 100%;
}
.img-dpi {
  max-width: 600px;
  width: 100%;
}
footer {
  background: var(--case-color);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  /* position: fixed;
  bottom: 0; */
}
footer {
  background: var(--case-color);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center; /* Aligns items horizontally at the center */
  align-items: center; /* Aligns items vertically at the center */
  gap: 10px; /* Ajoute un espacement entre chaque case */
}

.footer-gestion-confi {
    position: absolute;
    bottom: 0;
    width: 100%;
}

h3 {
  color: #9e3e3e;
  margin: 0 12px;
  font-size: 15px;
}

.info {
  margin: 0 12px;
  font-size: 13px;
}

.informations {
  display: flex;
  margin: 0 15px;
  flex-wrap: wrap;
  gap: 10px; /* Ajoute un espacement entre chaque case */
  font-size: 12px;
}

.contact-link {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Ajoute un espacement entre chaque case */
  font-size: 12px;
  margin: 0 12px;
}

.contact p{
  margin: 0 12px;
}
.link-footer {
  color: #72be90;
  text-decoration: underline;
  margin: 0 12px;
}

.linkedin-icon {
  width: 50px;
  height: 50px;
  margin: 20px 5px;
}

@media only screen and (max-width: 768px) {
  .dpi-flex {
    flex-direction: column; /* Disposition en ligne pour les écrans plus larges */
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
  }

  .texte-dpi {
    max-width: 100%; /* Limite la largeur du texte à 50% de la largeur de l'écran */
  }

  .presentation {
    width: 80%;
  }
  .dpi-case {
    width: 70%;
  }
  .titre-dpi {
    width: 80%;
  }
  .text {
    font-size: 10px;
  }
}
@media only screen and (max-width: 1024px) {
  .logo{
    display: none;
  }
  @media only screen and (max-width: 1440px) {
    footer {
      flex-wrap: wrap;
    }
  }
}
@media only screen and (max-width: 968px) {
  .logo {
    display: none;
  }

  .navbar.open .menu-hamburger,
  .navbar.open .profil {
    display: none !important;
  }

  i.menu-hamburger {
    display: block !important;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
  }

  .navbar.open + .menu-hamburger {
    display: none !important;
  }

  .navbar ul li {
    display: none;
    transition: all 0.4s ease;
  }

  .navbar.open ul li {
    display: block;
  }

  .navbar.open {
    display: flex;
    transition: all 0.4ms ease;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    width: 100%;
    background: #000000d7;
    z-index: 1;
  }

  .navbar.open ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .navbar.open ul li a {
    font-size: 20px;
    color: #fff;
  }

  body.open-navbar {
    overflow: hidden;
  }

  .close-icon {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }

  .profil.nav {
    display: none;
  }

  .navbar.open .close-icon {
    display: block;
  }

  .close-icon {
    display: none;
  }
}

.case img {
  border-radius: 10px;
}
.textCase {
  font-size: 15px; /* Choisissez la taille de police souhaitée */
}

.navbar i.menu-hamburger {
  display: none;
}

.navbar .closeI {
  display: none;
}

.bouton_formations {
  margin-top: 50px;
}